* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .template {
  height: 88px;
  max-width: 1032px;
  width: calc(100% - 64px);
  margin: 0 auto;
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:hover {
  cursor: pointer;
}

header {
  height: 88px;
  border-bottom: 1px solid #ecedf1;
  display: block;
  unicode-bidi: isolate;
  color: #222;
  font-size: 16px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.header_container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  margin: 0 auto;
  /* width: calc(100%-64px); */
  width: 80.625%;
  max-width: 1032px;
}

h1 {
  flex: auto;
  max-width: 377px;
  margin: 32px;
  text-indent: -9999px;
  height: 88px;
  line-height: 88px;
  font-weight: normal;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  background-image: url(https://static.univstore.com/web/image/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 281px;
  height: 88px;
  display: block;
}

nav {
  display: flex;
  height: 88px;
  line-height: 88px;
  unicode-bidi: isolate;
}


/* 드롭다운바 */
.dropdown-container {
  border-bottom: 1px solid #ecedf1;
}

.dropdown-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.dropdown-bar__dropdown-item-container {
  display: flex;
  margin-left: -12px;
}

.dropdown-bar__dropdown-item:hover {
  color: #fd4d57;
}

.dropdown-bar__item {
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 21px 12px;
}

.dropdown-bar__normal-item-container {
  display: flex;
}

.dropdown-bar__normal-item-container > div {
  margin-left: 4px;
}

.dropdown-bar__normal-item-container:last-child {
  margin-right: -12px;
}

.dropdown-categories-wrapper {
  display: flex;
  justify-content: center;
}

.dropdown-categories {
  display: flex;
  background-color: #fff;
  position: absolute;
  height: 274px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-top: 1px solid #ecedf1;
  z-index: 1000;
  width: calc(80.625% + 32px);
  max-width: 1064px;
}

.dropdown-category {
  display: flex;
  width: 100%;
  color: #222;
}

.dropdown-item {
  width: 12.5%;
  margin: 16px 0;
  padding: 0 14px;
  border-right: 1px solid #ecedf1;
}

.dropdown-item:first-child {
  padding-left: 16px;
}

.dropdown-item__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 8px;
  height: 23.59px;
}

.dropdown-item__title::after {
  background-image: url(https://www.univstore.com/image/ic-arrow-forward-mini.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: contain;
  content: "";
  display: inline-block;
  width: 4.5px;
  height: 8px;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 3px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.dropdown-item__item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #787a87;
  font-size: 12px;
  line-height: 25px;
  cursor: pointer;
}

/* 콘텐츠 */
.main-banner {
  background-color: aquamarine;
  height: 516px;
  transition: background-color linear 300ms;
}

/* @media screen and (max-width: 768px) {
  .template {
    height: 64px;
    width: calc(100% - 32px);
  } */

  .header {
    height: 64px;
    width: calc(100% - 32px);
    max-width: 1032px;
    margin: 0 auto;
  }

  .logo {
    width: 252.58px;
  }

  .account {
    color: #787a87;
    font-size: 13px;
} 

.account_search {
    margin-right: 32px;
    background-image: url("https://static.univstore.com/web/image/ic-search-item.png");
}

.account_login {
    margin-right: 0;
    text-decoration: none;
}

.account_mypage {
    display: none;
    margin-right: 32px;
    background-image: url("https://static.univstore.com/web/image/ic-mypage.png");
}

.account_cart {
    display: none;
    background-image: url("https://static.univstore.com/web/image/ic-shoppingbag.png");
} 

/* 컨테이너 */
.nav_container {
  border-bottom: 1px solid #ecedf1;
  line-height: 1.2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80.625%;
  max-width: 1032px;    
}

.nav_left {
  display: flex;
  margin-left: -12px;
}

.nav_leftbutton {
  padding: 21px 9px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
}

.nav_right {
  margin-right: -12px;
}

.nav_rightbutton {
  padding: 21px 9px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
}